In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ner.csv')

In [6]:
df.label.value_counts()

GPE       16
ORG        8
PERSON     4
DATE       4
MONEY      3
NORP       1
FAC        1
Name: label, dtype: int64

In [7]:
df.head()

,Unnamed: 0,id,news_id,entity,label,explanation,date_added
0,0,13,27,St James’s Place,PERSON,"People, including fictional",2023-08-15 00:39:29.411719+00:00
1,1,14,26,August 11,DATE,Absolute or relative dates or periods,2023-08-15 00:39:30.208720+00:00
2,2,15,26,China,GPE,"Countries, cities, states",2023-08-15 00:39:30.517926+00:00
3,3,16,23,US,GPE,"Countries, cities, states",2023-08-15 00:39:31.737316+00:00
4,4,17,22,FTX,ORG,"Companies, agencies, institutions, etc.",2023-08-15 00:39:32.243490+00:00

In [8]:
s1 = df.groupby('label').entity.value_counts()

label   entity
DATE    2000                 1
        2023                 1
        August 11            1
        year                 1
FAC     Country Garden       1
GPE     US                   5
        Russia               3
        China                2
        Argentina            1
        Cisco                1
        Korea                1
        South Africa         1
        Ukraine              1
        Zambia               1
MONEY   1.3bn                1
        18 per cent          1
        billion-dollar       1
NORP    Russian              1
ORG     Apollo               1
        BDO                  1
        CVC                  1
        Evergrande           1
        FTX                  1
        MTN                  1
        Mastercard           1
        Nvidia               1
PERSON  Odesa                1
        Prisoner             1
        Sam Bankman-Fried    1
        St James’s Place     1
Name: entity, dtype: int64

In [22]:
df.groupby('label').entity.value_counts()['DATE'].

entity
2000         1
2023         1
August 11    1
year         1
Name: entity, dtype: int64

In [38]:
df.groupby('label').entity.value_counts()['DATE'].index.values

array(['2000', '2023', 'August 11', 'year'], dtype=object)

In [34]:
df.groupby('label').entity.value_counts()['DATE'].values

array([1, 1, 1, 1], dtype=int64)

In [9]:
gpe = df.pivot(columns='label', values='entity')['GPE'].value_counts()

In [10]:
gpe

US              5
Russia          3
China           2
Zambia          1
Korea           1
Argentina       1
Cisco           1
South Africa    1
Ukraine         1
Name: GPE, dtype: int64

In [11]:
org = df.pivot(columns='label', values='entity')['ORG'].value_counts()

In [12]:
org

FTX           1
BDO           1
Apollo        1
Nvidia        1
Mastercard    1
MTN           1
Evergrande    1
CVC           1
Name: ORG, dtype: int64

In [13]:
person = df.pivot(columns='label', values='entity')['PERSON'].value_counts()

In [14]:
person

St James’s Place     1
Sam Bankman-Fried    1
Prisoner             1
Odesa                1
Name: PERSON, dtype: int64

In [15]:
person.to_json()

'{"St James\\u2019s Place":1,"Sam Bankman-Fried":1,"Prisoner":1,"Odesa":1}'

In [39]:
s1 = df.groupby('label').entity.value_counts()

In [40]:
s1

label   entity
DATE    2000                 1
        2023                 1
        August 11            1
        year                 1
FAC     Country Garden       1
GPE     US                   5
        Russia               3
        China                2
        Argentina            1
        Cisco                1
        Korea                1
        South Africa         1
        Ukraine              1
        Zambia               1
MONEY   1.3bn                1
        18 per cent          1
        billion-dollar       1
NORP    Russian              1
ORG     Apollo               1
        BDO                  1
        CVC                  1
        Evergrande           1
        FTX                  1
        MTN                  1
        Mastercard           1
        Nvidia               1
PERSON  Odesa                1
        Prisoner             1
        Sam Bankman-Fried    1
        St James’s Place     1
Name: entity, dtype: int64